.carousel-container{
  
    margin-top:4rem;
    
}
.carousel-container h2{
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);  
}
.carousel-container {
    position: relative;
    padding: 20px;
    text-align: center;
  }
  
  .heading {
    text-align: center;
   
  }
  
  .carousel .carousel-control-prev,
  .carousel .carousel-control-next {
    width: 5%;
  }
  
  .carousel .carousel-control-prev-icon,
  .carousel .carousel-control-next-icon {
    background-color: black;
    border-radius: 50%;
  }
  
  @media (max-width: 768px) {
    .carousel .carousel-control-prev,
    .carousel .carousel-control-next {
      width: 10%;
    }
  
    .d-flex {
      flex-direction: column;
      align-items: center;
    }
  
    .m-2 {
      margin: 10px 0;
    }
  }
  
  @media (min-width: 769px) and (max-width: 1024px) {
    .d-flex {
      justify-content: space-around;
    }
  }
  
  @media (min-width: 1025px) {
    .d-flex {
      justify-content: space-around;
    }
  }
  