.project-main {
  background-color: #f4f4f4;
  margin-top: 4rem;
}

.pvs-btn, .next-btn{
color:black;
border:none;
font-size: large;
font-weight: bold;


}

 

.project-main h2 {
  margin-bottom: 2rem;
}


.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  width: 100%;
}


.carousel {

  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.carousel img {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px; */
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  object-fit: cover;
}


.carousel button {

  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
}

.card-btn  {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
 
}
.card-btn a{
  background-color: rgb(69, 69, 208);
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: large;
  width: 5rem;
}
.carousel button:disabled {

  opacity: 0.5;
  cursor: not-allowed;
}


.card {

  flex: 0 0 30%;
  margin: 0 10px;
  height: 500px;
  width: 500px;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  transition: transform 0.5s;
}


.card-img-top {

  width: 100%;
  height: 70%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.card-body {
display: flex;
justify-content: space-around;
flex-direction: column;
  padding: 10px;
  align-items: center;
 
}


.card h3 {

  margin: 0;
  font-size: 1.5em;
}


.card p {

  margin: 10px 0 0;
  font-size: 1em;
  color: #555;
}


.button {

  display: inline-block;
  margin: 10px 5px;
  padding: 10px 15px;
  font-size: 1em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}


.button:hover {

  background-color: #0056b3;
}


@media (max-width: 600px) {

  .card {
    flex: 0 0 100%;
  }

  .carousel-container {
    width: 100%;
  }
}