.experience-container {
    margin-top: 3.2rem;
    padding: 20px;
    width: 100vw;
    background-color: #f4f4f4;
}

.experience-container h2 {
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(255, 255, 255, 0.3);
    text-align: center;
    margin-bottom: 20px;

}

.experience-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experience-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    /* Reduced padding */
    width: 100%;
    max-width: 900px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.experience-item h3 {
    margin: 5px 0;
    font-size: 1.2em;
    color: #555;
}

.experience-item p {
    margin: 5px 0;
    color: #666;
}

.duration {
    font-style: italic;
    color: #888;
    text-align: end;
}

@media (max-width:768px){
    .experience-item p {
         font-size: small;
 
    }
    .experience-item h3 {
        font-size: 1em;
    }
}